<div class="article-share">
  <div class="fb-like" data-href="<%- post.permalink %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%- post.permalink %>" data-text="<%= post.title %>" data-via="dreamerslab">Tweet</a>
</div>