// Color
color-default = #505050
color-meta = #a1a1a1
color-highlight = #0e0e0e
color-visited = #b9b9b9
color-background = #fafafa
color-button-border = #8c8c8c
color-border = #d7d7d7
color-code-background = rgba(80, 80, 80, 0.1)
color-code-background-hover = rgba(80, 80, 80, 0.2)

// Button
button-border = #8c8c8c
button-opacity-active = 0.6
button-opacity-inactive = 0.1
button-border-radius = 5px

// Font family
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono = Monaco, Menlo, Consolas, monospace

// Font size
font-size-content = 18px
font-size-h1 = 36px
font-size-meta = 15px
font-size-h2 = 28px
font-size-h3 = 22px
font-size-code = 14px

// Line height
line-height-meta = 20px
line-height-content = 36px
line-height-code = 24px
line-height-h1 = 45px
line-height-h2 = 30px
line-height-h3 = 30px

// Media queries
mq-mobile = "screen and (max-width: 599px)"
mq-normal = "screen and (min-width: 600px)"

// Layout
max-width = 600px
layout-margin = 15px