<% page.posts.each(function(post){ %>
  <div class="article">
    <div class="article-header">
      <%- partial('post/title', {post: post, class_name: 'article-title'}) %>
      <%- partial('post/date', {post: post, date_format: null}) %>
    </div>
  </div>
<% }) %>