<div id="header">
  <h1 id="logo-wrap">
    <a href="<%- config.root %>" id="logo"><%= config.title %></a>
  </h1>
  <div id="lang-switch">
    <a href="" class="lang-button active">English</a>
    <a href="" class="lang-button">中 文</a>
  </div>
</div>