#page-nav
  clearfix()
  border-top: 1px solid color-border

.page-nav-link
  color: color-meta
  line-height: 50px
  &:hover
    color: color-highlight

.footer-share
  text-align: center
  padding: 20px 0 80px
  border-top: 1px solid color-border