.article-entry
  pre
    padding: 15px
  .highlight
    margin: 0
    overflow: auto
    background: color-code-background
    padding: 15px
    figcaption
      font-size: font-size-meta
      line-height: line-height-meta
      padding-bottom: 10px
      a
        float: right
    pre
      padding: 0
    .gutter pre
      padding-right: 15px
      text-align: right
      color: #999
  pre, code
    color: color-highlight
    background: color-code-background
    font-style: italic
    line-height: 25px
    .comment
    .template_comment
    .diff .header
    .javadoc
      color: #998
    .keyword
    .css .rule .keyword
    .winutils
    .javascript .title
    .nginx /title
    .subst
    .request
    .status
      color: #333
      font-weight: bold
    .number
    .hexcolor
    .ruby .constant
      color: #099
    .string
    .tag .value
    .phpdoc
    .tex .formula
      color: #d14
    .title
    .id
    .coffeescript .params
    .scss .preprocessor
      color: #900
      font-weight: bold
    .javascript .title
    .lisp .title
    .clojure .title
    .subst
      font-weight: normal
    .class .title
    .haskell .type
    .vhdl .literal
    .tex .command
      color: #458
      font-weight: bold
    .tag
    .tag .title
    .rules .property
    .django .tag .keyword
      color: #000080
      font-weight: normal
    .attribute
    .variable
    .lisp .body
      color: #008080
    .regexp
      color: #009926
    .symbol
    .ruby .symbol .string
    .lisp .keyword
    .tex .special
    .prompt
      color: #990073
    .built_in
    .lisp .title
    .clojure .built_in
      color: #0086b3
    .preprocessor
    .pragma
    .pi
    .doctype.shebang
    .cdata
      color: #999
      font-weight: bold
    .deletion
      background: #fdd
      font-weight: bold
    .addition
      background: #dfd
    .diff .change
      background: #0086b3
    .chunk
      color: #aaa